@tailwind base;
@tailwind components;
@tailwind forms;

.client__multi__select_container {
  .client__multi__select__control {
    @apply border border-gray-300;
  }

  .client__multi__select__value-container {
    @apply py-1 px-2;
  }

  .client__multi__select__indicator-separator {
    @apply bg-gray-300;
  }

  .client__multi__select__clear-indicator,
  .client__multi__select__dropdown-indicator {
    @apply text-gray-300;
  }
}

@tailwind utilities;
